@import '../../styles/variables.scss';

.comments {
	&__container {
		width: 100%;
	}
	&__activities {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		border-top: 2px solid $primary;
		margin-top: 25px;
		padding-top: 15px;
		display: flex;
		& > button,
		select {
			background-color: transparent;
			border: none;
			text-decoration: underline;
			cursor: pointer;
			text-align: center;
			width: fit-content;
		}
		& > select {
			&:focus {
				background-color: rgb(89, 90, 88);
			}
		}
	}
	&__form-container {
		display: flex;
		align-items: center;
	}
	&__main {
		width: 100%;
		padding: 0px 20px;
		& > form {
			display: flex;
			height: 40px;
			& > input[type='text'] {
				width: 100%;
				padding: 0px 10px;
				font-size: 18px;
			}
			& > input[type='button'] {
				margin-left: 20px;
				cursor: pointer;
			}
		}
	}

	&__info {
		display: flex;
		justify-content: space-between;
	}
	&__user {
		background-color: $primary;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		margin-right: 20px;
	}
	&__comment {
		display: flex;
		margin-top: 50px;
	}
	&__text {
		text-align: left;
		margin: 0;
	}
}
.--active {
	font-size: 18px;
	font-weight: bold;
	color: rgb(118, 109, 109);
}
