@import '../../styles/variables.scss';

.comments {
	&__container {
		width: 100%;
		padding-bottom: 40px;
	}
	&__activities {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		border-top: 2px solid $primary;
		margin-top: 25px;
		padding-top: 15px;
		display: flex;
		& > button,
		select {
			background-color: transparent;
			border: none;
			text-decoration: underline;
			cursor: pointer;
			text-align: center;
			width: fit-content;
		}
		& > select {
			&:focus {
				background-color: rgb(89, 90, 88);
			}
		}
	}
	&__form-container {
		display: flex;
		align-items: center;
	}
	&__main {
		width: 100%;
		padding: 0px 20px;
		& > form {
			display: flex;
			height: 40px;
			& > input[type='text'] {
				width: 100%;
				padding: 0px 10px;
				font-size: 18px;
			}
			& > input[type='button'] {
				margin-left: 20px;
				cursor: pointer;
			}
		}
	}

	&__info {
		display: flex;
		justify-content: space-between;
	}
	&__info-reply {
		display: flex;
		justify-content: start;
		align-items: center;
	}
	&__user {
		& > img {
			width: 60px;
			height: 60px;
			border-radius: 50%;
		}
	}
	&__comment {
		display: flex;
		flex-direction: column;
		margin-top: 20px;
	}
	&__wrapper-info {
		display: flex;
	}
	&__comment--reply {
		margin-left: 60px;
		padding: 20px;
	}
	&__text {
		text-align: left;
		margin: 0;
	}
}
.--active {
	font-size: 18px;
	font-weight: bold;
	color: rgb(118, 109, 109);
}
.comment-activities {
	display: flex;
	& > button {
		background-color: transparent;
		text-decoration: underline;
		border: none;
		cursor: pointer;
		margin-right: 20px;
	}
	&__count {
		display: flex;
		align-items: center;
		& > p {
			font-size: 18px;
			padding: 0 5px;
		}
		& button {
			width: 15px;
			height: 15px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: none;
			border-radius: 50%;
			font-size: 18px;
			cursor: pointer;
			&:first-child {
				color: red;
			}
			&:last-child {
				color: green;
			}
		}
	}
}
